:root {
  --accent-color: #f2353f;
  --lite-color: #ffffff;
  --bg-color: #f2f4f7;
  --label-color: #b0b6bf
  
}

body {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2c37;
  width: 1600px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px,1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus,
.button:hover,
.button:focus {
  color: var(--accent-color);
}

.button {
  border: none;
  line-height: 1;
  color: inherit;
  background-color: inherit;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

.content-in-row {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
}


.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .content-in-row {
  justify-content: space-between;
  line-height: 1;
}



.nav {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-bottom: 0;
}

.nav .list-item {
  display: flex;
  align-items: center;
}

.nav .icon {
  width: 16px;
  height: 16px;
  margin-right: 11px;
  fill: currentColor;
}


.nav .link {
  font-size: 15px;

}

.header .list-item:first-child {
  display: flex;
}

.header .list-item:last-child {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
}



.hero {
  padding-top: 568px;
  /* padding-right: 830px; */
  padding-bottom: 70px;
  /* padding-left: 100px; */
  font-size: 14px;
  line-height: 1;
  background-color: gray;
  color: var(--lite-color);
  background-image: url(/images/main/img1.jpg) ;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1500px;
}

.container-hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container-page-title {
  width: 570px;
  padding-right: 120px;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.social-list .social-item:not(:last-child) {
  margin-right: 50px;
}


.page-title {
  display: inline;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  
}



.accent {
  color: var(--accent-color);
}

.title-label {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--label-color);
}

.section-title {
  margin-bottom: 100px;
  font-size: 37px;
  font-weight: 500;
  line-height: 1.2;
}

.direction-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -60px;
}

.direction-item {
  /* display: block; */

  flex-basis: calc((100% - 60px * 4) / 4);
  /* height: 255px; */
  margin-left: 60px;
  margin-top: 60px;
}

.direction-item-box {
  height: 255px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 43px; 
}

.direction-item:first-child .direction-item-box{
  padding-right: 80px;
}

.direction-icon-box {
  display: flex;
  width: 70px;
  height: 70px;
  /* padding-left: auto; */
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}
.direction-item .icon {
  display: block;
}

.direction-item .link:hover .direction-item-box,
.direction-item .link:focus .direction-item-box {
  background-color: var(--accent-color);
}

.direction-item .link:hover .icon,
.direction-item .link:focus .icon {
  stroke: currentColor;
  /* stroke: var(--lite-color); */
  /* fill: var(--lite-color); */
}



.services .link {
  font-size: 19px;
  line-height: 1.3;
}

.services .link:hover,
.serveces .link:focus {
  background-color: var(--accent-color);
  color: var(--lite-color);
}

.benefits,
.partners {
  background-color: var(--bg-color);
}

.benefits.section {
  padding-top: 147px;
  padding-bottom: 150px;
}

.benefits-container,
.partners-container {
  display: flex;
  margin-left: -60px;
  margin-top: -60px;
}

.benefits .container-section-title,
.partners .container-section-title,
.benefits .container-list,
.partners .container-list {
  flex-basis: calc((100% - 60px * 2) / 2);
  margin-left: 60px;
  margin-top: 60px;
}

.benefits .list,
.partners .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -60px;
}

.benefits-item {
  flex-basis: calc((100% - 60px * 2) / 2);
  margin-left: 60px;
  margin-top: 60px;
  line-height: 1.4;
}

.benefits .container-p {
  width: 155px;
}

.benefits-number {
  font-size: 75px;
  line-height: 1;
}

.works {
  padding-bottom: 205px;
  line-height: 1;
}

.works .section-title {
  margin-bottom: 60px;
}
.works h3,
.news h3 {
  font-size: 20px;
  font-weight: 500;
}

.works p {
  font-size: 11px;
  letter-spacing: 0.05em;
}

.works .button,
.news .button,
.footer .button {
  font-weight: 500;
}

.works .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -60px;
  /* margin-top: -60px; */
}

.works .item {
  flex-basis: cals ((100% - 60px * 2) / 2);
  margin-left: 60px;
  /* margin-top: 60px; */
}

.works .item:last-child {
  margin-bottom: 83px;
}
.works img {
  margin-bottom: 20px;
}

.works h3 {
  margin-bottom: 15px;
}

.works a + p {
  margin-bottom: 0;
}

.works .button {
  display: block;
  margin-left: auto;
}

.partners.section {
  padding-top: 166px;
  padding-bottom: 167px;
}

.partners .item {
  /* display: block; */
  flex-basis: calc((100% - 60px * 3) / 3);
  /* font-display: flex;
  justify-content: center;;
  align-items: center; */
  /* height: 75px; */
  margin-top: 60px;
  margin-left: 60px;
  /* padding: auto; */
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.label {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--label-color);
}

.date {
  font-size: 12px;
  line-height: 1;
  color: var(--label-color);
}
.news h3 {
  line-height: 1.3;
}

.details {
  font-size: 12px;
  letter-spacing: 0.05em;
}

.top-footer {
  background-color: var(--bg-color);
}

.fotter-title {
  font-size: 30px;
  line-height: 1.2;
}

.footer .button {
  font-size: 12px;
  border: 1px solid var(--accent-color);
}

.main-nav,
.placeholder {
  line-height: 1;
}

.low-footer {
  font-size: 14px;
  line-height: 1;
}

.kind {
  width: 210px;
  height: 210px;
  background-color: var(--bg-color);
  border: 1px solid var(--label-color);
}

.kind-a4 {
  height: 297px;
}

.kind-a5 {
  width: 148px;
}

.kind-a6 {
  width: 105px;
  height: 148px;
}

.kind-98x210 {
  width: 98px;
}

