.benefits {
  padding-top: 147px;
  padding-bottom: 150px;
  --grid__item: 2;
}

.benefits__item {
  line-height: 1.4;
}

.benefits__number {
  display: block;
  height: 75px;
  margin-bottom: 37px;
  font-size: 75px;
  line-height: 1;
  
  &::after {
    content: '';
    display: block;
    width: 70px;
    height: 1px;
    margin-top: 17px;
    /* margin-bottom: 20px; */
    background-color: var(--label-color);
  }
}
