
.works {
  padding-bottom: 205px;
  line-height: 1;
  --grid__item: 2;  
}

.works h3,
.news h3 {
  font-size: 20px;
  font-weight: 500;
}

.works-label {
  font-size: 11px;
  letter-spacing: 0.05em;
}

// .works .list {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   margin-left: -60px;
//   /* margin-top: -60px; */
// }

// .works .item {
//   flex-basis: calc((100% - 60px * 2) / 2);
//   margin-left: 60px;
//   /* margin-top: 60px; */
// }

.works .item:last-child {
  margin-bottom: 83px;
}
.works img,
.works-about img {
  margin-bottom: 20px;
}

.works h3,
.works-about h3 {
  margin-bottom: 15px;
}

.works a + p .work-about a + p {
  margin-bottom: 0;
}
